<div class="row my-5 py-5" >
    <div class="col-md-10 m-auto" >
        <div class="card card-body" >
            <h3><a href="/snake" class="nav-link" style="color: purple;">Snake Game</a></h3>
        </div>
        <div class="card card-body mt-2" >
            <h3><a href="/pingpong" class="nav-link" style="color: purple;">Pingpong Game</a></h3>
        </div>
        <div class="card card-body mt-2" >
            <h3><a href="/ballfall" class="nav-link" style="color: purple;">BallFall Game</a></h3>
        </div>
    </div>
</div>